:root {
    --fc-daygrid-event-dot-height: 30px;
    --fc-timegrid-event-height: 200px;
  }
.a {
    /* background-image: url(images/button.gif); */
    background-position: top left;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    width: 128px;
    border: 0px;
    margin: 7px 0 5px 7px;
    padding: 3px 0 6px 0;
    cursor: hand;
    cursor: pointer;
    color: #2C2C2C;
    font-family: Tahoma;
    font-size: 11px;
  }
  
/* :root {
--fc-list-event-dot-width: 10px;
--fc-list-event-hover-bg-color: #f5f5f5;
} */