#zmmtg-root {
  display: none;
}

.dev-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position: static;
  min-height: 70px;
  height: 70px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  z-index: 1020;
}

.dev-top-bar-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.dev-pricingTable-signup {
  border: none;
}
.dev-pricingTable-signup:hover {
  text-decoration: underline;
}

.dev-pricingTable-signup:disabled {
  cursor: not-allowed;
}
.dev-pricingTable-signup:hover:disabled {
  background-color: grey;
}

.jp-card-container .jp-card {
  min-width: unset;
}

/* THEMES OVERRIDE */
.btn-success, .btn-gradient-success {
  background-color: #127e00;
    border-color: #127e00;
    box-shadow: unset;
}

a {
  color: #127e00;
}