#zmmtg-root {
  display: none;
}

.dev-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position: static;
  min-height: 70px;
  height: 70px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  z-index: 1020;
}

.dev-top-bar-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.dev-pricingTable-signup {
  border: none;
}
.dev-pricingTable-signup:hover {
  text-decoration: underline;
}

.dev-pricingTable-signup:disabled {
  cursor: not-allowed;
}
.dev-pricingTable-signup:hover:disabled {
  background-color: grey;
}

.jp-card-container .jp-card {
  min-width: unset;
}

/* THEMES OVERRIDE */
.btn-success, .btn-gradient-success {
  background-color: #127e00;
    border-color: #127e00;
    box-shadow: unset;
}
.btn-danger, .btn-gradient-danger {
  background-color: #f14b4b;
    border-color: #f14b4b;
    box-shadow: unset;
}
.btn-warning, .btn-gradient-warning {
  background-color: #f1bc4b;
    border-color: #f1bc4b;
    box-shadow: unset;
}
a {
  color:#516856 #127e00;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background: linear-gradient(14deg, #007e26 0%, rgba(18, 126, 0, 0.6));
  color: #fff;
  -webkit-box-shadow: 0 7px 14px 0 rgba(65, 231, 31, 0.5);
  box-shadow: 0 7px 14px 0 rgba(18, 155, 14, 0.5);
}